<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
        integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="static/css/style.css">
</head>

<body>
    <nav class="menu2">
        <menu>
            <li><a href="/customer_home" >Home</a></li>
            <li><a href="/book_table">Book Table</a></li>
            <li><a href="/customer_menu" class="cta">Menu</a></li>
            <li><a href="/take_away">Take Away</a></li>
            <li><a href="/make_payment">Make Payment for Table</a></li>
            <li><a href="/feedback">Feedback</a></li>
            <li><a href="/logout">Logout</a></li>
        </menu>
      </nav>
      <div class="container">
        <form method="post" action="customer_menu">
        <div class="row">
            <center><h3>Menu for food items</h3></center><br>
          <div class="col-25">
            <label>Select a restaurant</label>
          </div>
          <div class="col-75">
            <select name="restaurant" onchange="this.form.submit()">
              <option value="0">select</option>
                {% for restaurant in restaurants %}
                {{selected_restaurant }} {{ restaurant['RESTAURANT_ID']==selected_restaurant}}
                {% if restaurant['RESTAURANT_ID']==selected_restaurant %}
               
                <option value="{{restaurant['RESTAURANT_ID']}}" selected>{{restaurant.RESTAURANT_NAME}}</option>
                {% else %}
                <option value="{{restaurant['RESTAURANT_ID']}}">{{restaurant.RESTAURANT_NAME}}</option>
                {% endif %}
               
                {% endfor %}
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-25">
            <label >Select a Branch</label>
          </div>
          <div class="col-75">
            <select name="branch" onchange="this.form.submit()">
              <option value="0">select</option>
                {% for branch in branches %}
                {% if branch['BRANCH_ID']==selected_branch %}
               
                <option value="{{branch['BRANCH_ID']}}" selected>{{branch.BRANCH_NAME}}</option>
                {% else %}
                <option value="{{branch['BRANCH_ID']}}">{{branch.BRANCH_NAME}}</option>
                {% endif %}
               
                {% endfor %}
            </select>
          </div>
        </div>
        {% if (food_items|length)>0 %}
        <div id="table">
        <table>
            <th>Food Name</th>
            <th>Food Price</th>
            <th>Ingredient</th>
            <th>Calories</th>
            {% for food in food_items %}
            <tr>
                <td>{{food["NAME"]}}</td>
                <td>{{food["PRICE"]}}</td>
                <td>{{food["INGREDIENT_NAME"]}}</td>
                <td>{{food["CALORIES"]}}</td>
            </tr>
            {% endfor %}
        </table>
      </div>
     
        {% endif %}
        
        </form>
      </div>
    </body>
</html>