<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Staff Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
        integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="static/css/style.css">
</head>

<body class="staff_body">
    <header style="left:10px">
        <nav style="left:20%">
            <ul>
                <li><a href="/staff_home" class="cta">Home</a></li>
                <li><a href="/take_orders">Take Orders</a></li>
                <li><a href="/order_history">Order History</a></li>
                <li><a href="/feedback_history">Feedback History</a></li>
                <li><a href="/logout">logout</a></li>
            </ul>
        </nav>
    </header>
    <div>
        <div class="container" style="left:20%"> 
        <h3>Order History</h3>
        <table>
            <th>Customer Id</th>
            <th>Food Name</th>
            <th>Price</th>
            <th>Wait time</th>
            <th>Order date</th>
            <th>Status</th>

            {% for order in orders%}
            <tr>
                <td>{{order['CUSTOMER_ID']}}</td>
                <td>{{order['NAME']}}</td>
                <td>{{order['PRICE']}}</td>
                <td>{{order['WAIT_TIME']}} minutes</td>
                <td>{{order['ORDER_DATE_TIME']}}</td>
                <td>{{order['STATUS']}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    </div>
</body>

</html>